@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    margin: 1rem;
    background-color: rgb(200, 236, 236);
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    margin-bottom: 3rem;
}

.header h1 {
    color: blueviolet;
}

.page-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.page-nav a,
.page-nav a:active,
.page-nav a:focus {
    text-decoration: none;
    color: rgb(243, 143, 13);
    font-weight: bold;
    font-family: ;
}

.portfolio-title {
    display: grid;
    width: 30ch;
    font-size: 20;
    font-weight: 500;
    margin-bottom: 2rem;

}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    margin-bottom: 5rem;


}

.page-nav a:hover{
    font-size:larger;
    color: blueviolet;

}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    .article {
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
    }

    .page-nav {
        display: flex;
        flex-direction: row;
        gap: 7px;
    }
}

/* @media only screen and (min-width: 1000px) {
    .article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
    }
} */
